/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* --------- General Styles --------- */

html {
  font-size: 16px;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 1em;
 line-height: 1.5em;
 color: #e2e3ed;
}

ul, ol {
  list-style-type: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  line-height: 2rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  line-height: 2rem;
}

h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 2rem;
}

p {
  font-size: .875em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 100%;
}

/* ------------ Base Header - Footer Styles -----------*/

header, footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Header styles */

header {
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 10px;
}

.header-divider {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #3a3a3a;
}

header nav {
  font-weight: bold;
  font-size: 1.125em;
  width: 60%;
  padding: 0;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}


/* Footer styles */

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer p {
  margin; 0;
}

.contact {
  text-align: center;
  margin-top: 50px;
}

.social {
  text-align: center;
  margin-top: 50px;
}

.social h3 {
  margin-bottom: 0;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.social-icons p {
  background: #527158;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  width: 35px;
  height: 35px;
}


.copyright {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 110%;
  flex: 0 1 100%;
}


/* -------------- Mobile - Homepage styles -------------*/

/* ---- HERO Section ---- */

.hero-area {
  background: url(../img/jake-melara-30679-unsplash.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 450px;
}

.hero-area h1 {
  padding: 45px 5px;
}


/* ---- Form & Signup Section ---- */

aside {
  background-color: #527158;
}

.signup {
  padding: 10px 0;
  margin: 0 20px;
}

.signup h3 {
  padding-bottom: 3px;
  margin: 0;
}

.signup p {
  padding-top: 3px;
  margin: 0;
}

aside .form {
  margin-top: 5px;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 20px;
  padding-bottom: 50px;
  width: 88%;
}

.form h3 {
  text-align: left;
}

.form input {
  width: 100%;
  padding: 18px 0;
}

#email-input {
   margin-bottom: 15px;
   padding-left: 15px;
}

/* ---- Features Section ---- */

.features .content-wrapper {
  background: url(../img/rawpixel-800820-unsplash1.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features article {
  width: 88%;
}

.features h2 {
  margin: 0 20px;
  padding: 30px 0 0 0; 
}

.features p {
  margin: 0;
  text-align: center;
}

.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 30px 0;
}

.fontawesome-icon {
  padding: 0;
}

.features i {
  font-size: 3.75em;
  margin-bottom: 40px;
}

.features-item-description {
  margin: 0 80px;
  width: 75%;
}
.reviews {
  background-color: #2a423a;
}

.reviews .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0;
  width: 100%;
}

.reviews h2 {
  padding: 5px 20px;
}

.lacrue-bottling {
  padding: 5px 0;
  margin: 0 20px;
}

.reviews h3 {
  width: 88%;
}

.reviews figure {
width: 88%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
margin: 0;
}

/* ---------------- Mobile - About styles --------------*/

.mission .content-wrapper {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.mission-content h2 {
  margin: 50px 0 0 0;
  width: 88%;
}

.mission-content p {
  padding: 10px 20px;
  margin: 0;
}

.map figure{
 width: 100%;
 height: 0;
 padding-bottom: 125%;
 overflow: hidden;
 position: relative;
}

.map iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-section .content-wrapper {
  background-color: #2a423a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section h2 {
  width: 88%;
  padding-left: 20px;
}

.contact-content {
  width: 75%;
  padding-left: 20px;
}

.contact-content h3 {
  margin: 0;
}

.contact-column-1 {
  padding-bottom: 20px;
}

.contact-content address {
  font-size: .875em;
}

.contact-column-2 {
  padding-bottom: 50px;
}

/* ----------------- Mobile - FAQ styles ---------------*/


.faq .content-wrapper {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (min-width: 768px) {
/* Tablet Styles Here */

/* Header-Footer Styles */

  header {
    width: 100%;
    justify-content: center;
  }
  header .content-wrapper {
    justify-content: space-between;
    flex-basis: 83%;
  }

  header figure {
    width: 29%;
  }

  .header-divider {
    width: 0%;
    margin: 0;
  }

  header img {
    width: 100%;
  }

  header nav {
    width: 50%;
  }

  header nav ul {
    justify-content: flex-end;
    flex-flow: row;
  }

  header nav ul li {
    padding: 0 5px;
  }

  footer {
    width: 100%;
  }

  .footer-content {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-top: 70px;
  }

  .contact {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding-bottom: 70px;
  }

  .contact h3 {
    justify-content: center;
    font-size: 1.5em;
  }

  .contact address {
    flex-basis:
  }

  .social {
    width: 50%;
    flex-basis: 40%;
  }

  .social h3 {
    font-size: 1.5em;
    padding-bottom: 35px;
  }

  .social-icons p {
    margin: 0;
  }

  .copyright {
    width: 63%;
  }

/* HOMEPAGE - MAIN Section Tablet Styles */

  .hero-area {
    height: 600px;
  }

  .hero-area h1{
    font-size: 3em;
    flex-basis: 75%;
    padding: 90px 160px 400px 65px;
    line-height: .75em;
  }
  
  #signup-section{
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  width: 100%;
  }

  .signup {
    margin: 0; 
    padding: 25px 0 0 0;
    width: 33%;
  }

  .signup h3 {
    font-size: 1.5em;
  }

  aside .form {
    width: 40%;
    margin: 0;
    padding: 0 0 25px 0;
  }

  .form input {
    padding: 10px 0;
  }

  #email-input {
    margin-bottom: 0;
  }

  .form h3 {
    font-size: 1.5em;
  }

  .features {
    width: 100%;
  }
  
  .features h2 {
    font-size: 2.25em;
    flex-basis: 85%;
    padding: 90px 0 0 0;
    margin: 0;
  }

  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-basis: 26%;
    padding: 40px 75px;
    
  }

  .features i {
    font-size: 4.5em;
    margin-bottom: 26px;
  }

  .features-item-description {
    width: 100%;
  }

  .reviews .content-wrapper {
    justify-content: flex-start;
  }

  .reviews h2 {
    font-size: 2.25em;
    padding: 100px 0 25px 60px; 
    flex-basis: 65%;
    margin: 0;
    flex-flow: row wrap;
  }

  .reviews figure {
    width: 50%;
    flex-basis: 45%;
    padding: 0 0 118px 60px;
  }

  .reviews .lacrue-bottling {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin: 0;
    padding: 0 0 100px 10px; 
    flex-basis: 40%;
  }
  .lacrue-bottling {
    padding: 0 0 0 30px;
  }

  .lacrue-bottling h3 {
    flex-basis: 70%;
    font-size: 1.5em;
    margin: 0;
  }

  .lacrue-bottling p {
    margin-top: 15px;
    line-height: 1.5em;
  }


/* FAQ Tablet Styles */

.faq .content-wrapper {
  justify-content: space-between;
}


.faq-content {
  flex-basis: 40%;
}

.faq h2 {
  width: 100%;
}

/* ABOUT PAGE Tablet Styles */

.mission-content {
 flex-flow: row wrap;
}

.mission-content h2 {
  width: 83%;
}

.mission-content p {
  flex-basis: 40%;
  padding: 70px 10px;
}

.contact-section .content-wrapper {
  justify-content: flex-start;
}

.contact-section .content-wrapper h2 {
  width: 65%;
  padding: 90px 40px 50px 60px;
  margin: 0;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 90px 60px;
}



.map figure {
  padding-bottom: 45%;
}
}

@media only screen and (min-width: 1200px) {
/* Desktop Styles Here */

/* Header-Footer Styles */

header {
  width: 100%;
}

header nav {
 width: 13%;
}

footer {
  width: 100%;
  justify-content: center;
}

.footer-content {
  width: 100%;
  justify-content: space-between;
}

.contact h3 {
  width: 63%;
  font-size: 1.875em;
}

.contact address {
  font-size: 1.125em;
}

.social {
  text-align: center;
}

.social h3 {
  font-size: 1.875em;
}

.social-icons {
  justify-content: center;
}

.social-icons p {
  margin: 0 25px;
}

.copyright {
  text-align: center;
  flex-basis: 100%;
  font-size: 1em;
}

/* HOMEPAGE Styles */

.hero-area {
  height: 600px;
}

.hero-area h1 {
  width: 56%;
  text-align: left;
  flex-flow: row wrap;
  flex-basis: 72%;
  font-size: 3.75em;
  line-height: 1em;
  padding-top: 55px; 
}

#signup-section {
  justify-content: space-evenly;
}

.signup {
  width: 26%;
}

.signup h3 {
  font-size: 1.875em;
}

.signup p {
  font-size: 1.125em;
}

aside .form {
  width: 26%;
}

.form h3 {
  font-size: 1.875em;
}

.features {
  width: 100%;
}

.features .content-wrapper {
  width: 100%;
  padding-bottom: 80px;
}
.features h2 {
  flex-basis: 80%;
}

.features article {
  flex-basis: 15%;
}

.features i {
  margin-bottom: 25px;
}

.features-item-description {
  font-size: 1.125em;
}

.reviews {
  width: 100%;
}

.reviews h2 {
  font-size: 2.25em;
  padding-left: 118px;
}

.reviews .lacrue-bottling {
  flex-basis: 40%;
  padding-top: 30px;
}

.reviews h3 {
  font-size: 1.875em;
  padding-bottom: 0;
}

.reviews figure {
  flex-basis: 40%;
  padding-top: 95px;
  padding-right: 35px;
  padding-left: 118px;
}

.reviews p {
  font-size: 1.125em;
}

/* FAQ Desktop Styles */

.faq {
  width: 100%;
}

.faq .content-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.faq-content {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.faq-content  h2 {
  width: 100%;
}

 .faq-1, .faq-2, .faq-3, .faq-4 {
  flex-basis: 45%;
}


/* ABOUT Desktop Styles */

.mission-content {
  flex-flow: row wrap;
  width: 80%;
}

.mission-content h2{
  flex-basis: 100%;
  line-height: 1em;
  font-size: 3em;
}

.mission-content p{
  flex-basis: 40%;
  padding: 30px 95px 90px 0;
  font-size: 1.125em;
}

.map figure {
  padding-bottom: 38%;
}

.contact-section .content-wrapper h2{
  flex-basis: 80%;
  font-size: 3em;
  padding-top: 100px;
  padding-left: 120px;
}

.contact-content {
  justify-content: flex-start;
  flex-basis: 80%;
  padding-left: 120px;
  padding-bottom: 90px;

}

.contact-content h3 {
  font-size: 1.875em;
  padding-bottom: 40px;
}

.contact-content address {
  font-size: 1.125em;
}

.contact-column-1 {
  flex-basis: 55%;
  text-align: left;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

